@import url("https://fonts.googleapis.com/css?family=Cookie");

body{
  padding: 0px;
  margin: 0px;
  height: 100vh;
  width: 100vb;
}

.container{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

#main{
  position: relative;
  width: 100vw;
  height: 100vh;
}

canvas {
  display: block;
  vertical-align: bottom;
  margin: 0%;
  padding: 0%;
}

#container{
  display: flex;
  height:100vh;
  margin: 0;
  padding: 0;
  z-index: 1;
}

p{
  color: lavender;
  font-family: Georgia, Times, serif;
  font-size: 12px;
  text-align: center;
  padding-bottom: 1vh;
}

#particles-js {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #000;
}

#photo {
  padding: 0px;
  float: left;
  height: 100vh;
}

#content{
  flex-grow: 1;
  padding: 0;
  margin: 0;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

#name {
  color: #ffaf22 ;
  padding-bottom: 2vh;
  padding-top: 5vh;
  margin: 0px;
  text-shadow: 0px 0px 2px gray;
  font-family: Cookie;
  font-size:55px;
  text-align: center;
}

.text {
  color:lavender;
  font-family: Georgia, Times, serif;
  font-size: 20px;
  text-align: center;
  padding-bottom: 1vh;
}

.wrap{
  border-right: .15px solid #aa2cf2;
  animation: blink .5s step-end infinite;
}

@keyframes blink {
  from, to { border-color: #d7255d; }
  50% { border-color: #fac22b; }
}

h1 {
  font-size: 2.25em;
  font-weight: 700;
  letter-spacing: -1px;
}

a,
a:visited {
  color: #e34234;
  transition: 0.25s;
}

a:hover,
a:focus {
  color: #ba160c;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 404px;
  margin: auto;
  grid-gap: 0.5rem;
}

.image-container .image {
  position: relative;
  padding-bottom: 100%;
}
.image-container .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  position: absolute;
  top: 0;
}
.image-container .image img:nth-of-type(1) {
  filter: grayscale(1) brightness(80%);
}
.image-container .image img:nth-of-type(2) {
  -webkit-clip-path: var(--clip-start);
          clip-path: var(--clip-start);
  transition: -webkit-clip-path 0.5s;
  transition: clip-path 0.5s;
  transition: clip-path 0.5s, -webkit-clip-path 0.5s;
}
.image-container .image:hover img:nth-of-type(2) {
  -webkit-clip-path: var(--clip-end);
          clip-path: var(--clip-end);
}

.buttons {
  background-color: transparent;
  position: relative;
  font-size: 5vh;
  font-family: Cookie;
  padding-top: 2vh;
}

.buttons button {
  border: none;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  color:#f406f4;
  font-size: 5vh;
  font-family: Cookie;
}

.buttons button:hover {
  background-color: transparent;
}

.buttons #left {
  top: 50%;
  left: 0px;
}

.buttons #right {
  top: 50%;
  right: 0;
}

.left-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: auto;
  left: -100%;
  bottom: auto;
  right: auto;
  background: #603E95;
  transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.left-layer.active {
  left: 100%;
}

.left-layer--2 {
  background: #009da1;
  transition-delay: 0.3s;
}

.left-layer--3 {
  background: #fac22b;
  transition-delay: 0.12s;
}

.left-layer--4 {
  background: #d7255d;
  transition-delay: 0.08s;
}

.right-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: auto;
  left: 100%;
  bottom: auto;
  right: auto;
  background: #603E95;
  transition: all 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.right-layer.active {
  left: -100%;
}

.right-layer--2 {
  background: #009da1;
  transition-delay: 0.3s;
}

.right-layer--3 {
  background: #fac22b;
  transition-delay: 0.12s;
}

.right-layer--4 {
  background: #d7255d;
  transition-delay: 0.08s;
}